.description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: min-content;
    padding: 3rem 9rem;
    background-color: #f7f7f7;
}

.description__textContainer{
    display: flex;
    flex-direction: column;
    color: #797979;
    width: 50%;
    height: 50%;
}

.description__textContainer *{
    padding: .6rem;
}

.description__textContainer__1title{
    font-size: 1.5rem;
    color: #3b1d82;
    font-weight: bold;
}

.description__textContainer__2title{
    font-size: 1.2rem;
    color: #ea0763;
    font-weight: bold;
}

.description__listContainer{
    display: flex;
    flex-direction: column;
    /*width: 60%;*/
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 75%;
}

.description__listContainer__list{
    display: flex;
    height: min-content;
    width: 86%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.description__listContainer__list__item{
    color: #797979;
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 8rem;
    height: 9rem;
    margin: 0.5rem;
}

.description__listContainer__list__item__header{
    font-size: 1.5rem;
    color: #3b1d82;
    font-weight: bold;
}

.description__listContainer__header{
    font-size: 1.2rem;
    color: #ea0763;
    font-weight: bold;
    text-align: center;
}

.description__listContainer__list__item--days{
    background-image: url("../static/countdown-day.png.webp");
}
.description__listContainer__list__item--hours{
    background-image: url("../static/countdown-hour.png.webp");
}
.description__listContainer__list__item--mins{
    background-image: url("../static/countdown-minute.png.webp");
}

.description__listContainer__ticketLink{
    margin-top: 1rem;
}


@media screen and (max-width: 991px) {
    .description {
        flex-direction: column;
    }
    .description__listContainer__list{
        flex-wrap: nowrap;
        width: max-content;
    }

    .description__textContainer {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .description {
        padding: 3rem 3rem;
    }
}

@media screen and (max-width: 430px) {
    .description__listContainer__list {
        flex-wrap: wrap;
        width: 100%;
    }


}