.featureSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featureSection__heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureSection__heading__subheader{
    font-size: .9rem;
    color: #797979
}

.featureSection__heading__header{
    font-size: 2rem;
    color: #3b1d82;
    font-weight: bold;
}

.featureSection__featureList{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.featureSection__featureList__featureList__item__iconContainer{
    background-image: url("../static/feature-icon-bg.png.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
