.header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding: 2rem 2rem 1.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    background-color: white;
}

.header__links{
    list-style-type: none;
    display: flex;
    width: 30rem;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.header__links__link__active{
    color: darkviolet;
}

.header__links__link{
    cursor: pointer;
}

.header__links__link:hover{
    transition: 0.2s ease;
    color: darkviolet;
}

.header__ticket-link{
    text-decoration: none;
    color: darkviolet;
    font-weight: bold;
}

.ri-menu-line {
    display: none;
    color: #ea0763;
}

.headerContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__links-mobile {
    display: none;
    transition: 0.5s ease;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.header__links-mobile > .header__links__link {
    border-bottom: 1px solid rgba(0, 0, 0, 0.69);
    width: 100%;
    padding: 1rem;
    text-align: center;
    display: block;
}

.header__links-mobile > .header__links__link:last-child{
    border-bottom: none;
}


@media screen and (max-width: 991px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header__links, .header__ticket-link {
        display: none;
    }
    .ri-menu-line{
        display: block;
        font-size: 2rem;
    }
    .active {
        display: flex;
    }

}